<!DOCTYPE html>
<html ng-app="FiveMinuteDungeon">
	<head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1, IE=9">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="true" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="FiveMinuteDungeon">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="apple-touch-icon" sizes="57x57" href="/five-minute-dungeon/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/five-minute-dungeon/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/five-minute-dungeon/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/five-minute-dungeon/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/five-minute-dungeon/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/five-minute-dungeon/favicons/apple-touch-icon-120x120.png">
    <link rel="icon" type="image/png" href="/five-minute-dungeon/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/five-minute-dungeon/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/five-minute-dungeon/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/five-minute-dungeon/favicons/manifest.json">
    <link rel="shortcut icon" href="/five-minute-dungeon/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/five-minute-dungeon/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>Five Minute Dungeon</title>
    <link href="fonts/stylesheet-chicago.css" rel="stylesheet">
    <link href="css/ui.css" rel="stylesheet">
		<link href="img/sprites.css" rel="stylesheet">
  </head>
  <body ng-controller="DungeonController" ng-cloak ng-init="Game.state = 'menu'">

    <div class="debug">{{Game.dungeon.age}}
{{Game.dungeon.bossPositions | prettyJson}}</div>

    <div class="menu-toggle"
      ng-hide="Game.state == 'menu'"
      ng-click="Game.state = 'menu'">
    </div>

    <div style="padding-top: 10px;" class="container classic" ng-if="Game.state == 'menu'">
      <div class="logo"></div>
      <ul class="menu btns">
        <li class="pink" ng-click="Game.state = 'hero-select'">
          <div class="portrait skeleton-king"></div>
          <h3>Dungeon</h3>
        </li>
        <li class="orange" ng-click="Game.state = 'gallery'">
          <div class="portrait gem-silver"></div>
          <h3>Gallery</h3>
        </li>
        <li class="blueish-black" ng-click="Game.state = 'credits'">
          <div class="portrait robot"></div>
          <h3>About</h3>
        </li>
      </ul>
    </div>

    <div class="container classic" ng-if="Game.state == 'hero-select'">
      <ul class="menu btns">
        <li class="blue" ng-repeat="c in Game.gallery.heroClasses"
            ng-click="enterDungeon(c)">
          <div class="portrait {{c.id}}"></div>
          <div class="details">
            <h4>{{c.name}}</h4>
            <p>{{c.description}}</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="container classic" ng-if="Game.state == 'credits'">
      <p class="credits">
        This is a (poor) clone of the Game "Blockee Story - Dungeon 18" by QQ House (see it on <a href="https://play.google.com/store/apps/details?id=com.qqhouse.dungeon18&hl=en">Google Play</a>). I'm not affiliated with them.

        I redesigned the sprites using LDraw models, but kept much of the original characters and icons. Of course, this project is not affiliated with the LEGO Group in any way.

        The Game is written entirely in Javascript. I used <a href="http://angularjs.org">AngularJS</a> for the user interface, mostly because I already have experience with it.

        You can find the source code for this project on <a href="">GitHub</a>.

        I encourage you to check out the code, submit bugs and features, and hack away to create new items, characters, graphics, and Game modes.

        (I always wondered what it'd be like to play with a merchant...)

      </p>
    </div>

    <div class="container classic" ng-if="Game.state == 'gallery'">

      <ul class="tabs btns" ng-init="tab = 'heroes'">
        <li class="brown" ng-click="tab = 'heroes'">Heroes</li>
        <li class="brown" ng-click="tab = 'monsters'">Monsters</li>
        <li class="brown" ng-click="tab = 'bosses'">Bosses</li>
        <li class="brown" ng-click="tab = 'items'">Items</li>
        <li class="brown" ng-click="tab = 'skills'">Skills</li>
        <li class="brown" ng-click="tab = 'skills'">Achievements</li>
      </ul>

      <ul class="gallery btns" ng-show="tab == 'heroes'">
        <li class="blue" ng-repeat="h in Game.gallery.heroClasses">
          <div class="portrait {{h.id}}"></div>
          <div class="details">
            <h4>{{h.name}}</h4>
            <p>{{h.description}}</p>
          </div>
        </li>
      </ul>

      <ul class="gallery btns" ng-show="tab == 'monsters'">
        <li class="brown" ng-repeat="h in Game.gallery.monsterClasses">
          <div class="portrait {{h.id}}"></div>
          <div class="details">
            <h4>{{h.name}}</h4>
            <p>{{h.description}}</p>
          </div>
        </li>
      </ul>

      <ul class="gallery btns" ng-show="tab == 'bosses'">
        <li class="pink" ng-repeat="h in Game.gallery.bossClasses">
          <div class="portrait {{h.id}}"></div>
          <div class="details">
            <h4>{{h.name}}</h4>
            <p>{{h.description}}</p>
          </div>
        </li>
      </ul>

      <ul class="gallery btns" ng-show="tab == 'items'">
        <li class="orange" ng-repeat="h in Game.gallery.loot">
          <div class="portrait {{h.id}}"></div>
          <div class="details">
            <h4>{{h.name}}</h4>
            <p>{{h.description}}</p>
          </div>
        </li>
        <li class="orange" ng-repeat="h in Game.gallery.items">
          <div class="portrait {{h.id}}"></div>
          <div class="details">
            <h4>{{h.name}}</h4>
            <p>{{h.description}}</p>
          </div>
        </li>
      </ul>

      <ul class="gallery btns" ng-show="tab == 'skills'">
        <li class="green" ng-repeat="h in Game.gallery.skills">
          <div class="portrait"></div>
          <div class="details">
            <h4>{{h.name}}</h4>
            <p>{{h.description}}</p>
          </div>
        </li>
      </ul>

    </div>

    <div class="container classic" ng-if="Game.state == 'dungeon'">

      <ul class="hero-bar btns"
        ng-init="sidebarVisible=false"
        ng-click="sidebarVisible = !sidebarVisible">
        <li class="blue">
          <div class="portrait {{hero.id}}">
            <span class="level">{{hero.level}}</span>
          </div>
          <div class="details">
            <div class="line">
              <span class="attr xp">
                <span class="xp-bar" style="width: {{xpBarPercent()}}%"></span>
              </span>
              <span class="attr keys">{{hero.attributes.keys}}</span>
              <span class="attr coins">{{hero.attributes.coins}}</span>
              <span class="attr stars">{{hero.attributes.stars}}</span>
            </div>
            <div class="line">
              <span class="attr hp">{{hero.attributes.hp}}
                <span style="margin: -6px" ng-if="isAtLimit('hp')">!</span>
              </span>
              <span class="attr atk">{{hero.attributes.atk}}
                <span style="margin: -6px" ng-if="isAtLimit('atk')">!</span>
              </span>
              <span class="attr def">{{hero.attributes.def}}
                <span style="margin: -6px" ng-if="isAtLimit('def')">!</span>
              </span>
              <span class="attr spd">{{hero.attributes.spd}}
                <span style="margin: -6px" ng-if="isAtLimit('spd')">!</span>
              </span>
            </div>
  			  </div>
        </li>
      </ul>

      <ul class="col dungeon btns">

        <li ng-repeat="e in dungeon.events track by $index"
            class="{{eventColor(e)}} clickable"
            ng-mouseover="highlight(e)"
            ng-click="activate(e)">

          <div class="portrait {{portraitClass(e)}}">
            <span class="level" ng-if="e.type == 'monster'">{{e.monster.level}}</span>
          </div>

          <ul class="attributes" ng-if="e.type == 'monster' || e.type == 'boss'">
            <li class="attr hp">{{e.monster.attributes.hp}}</li>
            <li class="attr atk">{{e.monster.attributes.atk}}</li>
            <li class="attr def">{{e.monster.attributes.def}}</li>
            <li class="attr spd">{{e.monster.attributes.spd}}</li>
          </ul>

          <div ng-if="e.loot != null" class="loot sm {{e.loot.id}}"></div>

          <div ng-if="e.item != null" class="loot {{e.item.id}}"></div>

          <div class="details" ng-switch="e.type">

            <div ng-if="e.combat != null">
              <div class="cost hp">{{e.combat.totalDamageToHero}}
                <!-- <span class="combat-turns">({{e.combat.numberOfHeroTurns}} turns)</span> -->
              </div>
            </div>

            <div ng-if="e.cost != null">
              <div class="cost keys" ng-if="e.cost.keys > 0"></div>
              <div class="cost coins" ng-if="e.cost.coins > 0">{{e.cost.coins}}</div>
              <div class="cost hp" ng-if="e.cost.hp > 0">{{e.cost.hp}}</div>
              <div class="cost free" ng-if="isFree()"></div>
            </div>

            <div ng-switch-when="character">character</div>

          </div>
        </li>
      </ul>

      <!-- sidebar -->
      <div class="col sidebar" ng-class="{off: !sidebarVisible}"
        ng-click="sidebarVisible=false">
        <ul class="skills">
          <li ng-repeat="skill in dungeon.hero.skills"
            ng-class="{'disabled': ! skillAvailable(skill)}"
            ng-click="skillActivated(skill); $event.stopPropagation();" >
            <fmd-gain gain="skill.gain"></fmd-gain>
            <span class="skill-cost" ng-if="skill.stars == 1">&#xe620;</span>
            <span class="skill-cost" ng-if="skill.stars == 2">&#xe620;&#xe620;</span>
            <p>{{skill.description}}</p>
          </li>
          <li ng-if="hover != null" class="mouseover gray">
            <h4>{{hover.name}}</h4>
            <p>{{hover.description}}</p>
          </li>
        </ul>
      </div>

    </div><!-- /container-->
  </body>

  <script src="lib/jquery.min.js"></script>
  <script src="lib/jquery.mobile-events.min.js"></script>
	<script src="lib/angular.min.js"></script>
  <script src="lib/lodash.min.js"></script>


  <script src="js/utils.js"></script>
  <script src="js/game.js"></script>
  <script src="js/skills.js"></script>
  <script src="js/hero.js"></script>
  <script src="js/monsters.js"></script>
  <script src="js/items.js"></script>
  <script src="js/dungeon.js"></script>
  <script src="js/bosses.js"></script>
  <script src="js/app.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47920516-2', 'auto');
    ga('send', 'pageview');

  </script>
</html>